{% macro displayNumPad(inputName="numpad-value") %}
    <div id="numpad">
        <table><tr><td id="numpad-display"></td></tr></table>
        <table>
            <tr>
                <td class="numpad-key">1</td>
                <td class="numpad-key">2</td>
                <td class="numpad-key">3</td>
            </tr>
            <tr>
                <td class="numpad-key">4</td>
                <td class="numpad-key">5</td>
                <td class="numpad-key">6</td>
            </tr>
            <tr>
                <td class="numpad-key">7</td>
                <td class="numpad-key">8</td>
                <td class="numpad-key">9</td>
            </tr>
            <tr>
                <td class="numpad-key">0</td>
                <td class="numpad-clear">Clear</td>
                <td class="numpad-enter">Enter</td>
            </tr>
        </table>
        <input id="numpad-value" name="{{ inputName }}" type="hidden">
    </div>
{% endmacro %}
{% macro displayPunchClock() %}
    <div class="punch-clock">
        <div class="clock big-clock">00:00:00</div>
        <form id="punch-clock-form" class="mx" action="/api/punchclock" method="POST">
            {{ displayNumPad(inputName="employeeid") }}
            <input id="pc-employeeid" type="hidden" name="employeeid">
            <input id="pc-pin" type="hidden" name="pin">
        </form>
    </div>
{% endmacro %}
{% macro displayEmployeePunches(startDate,endDate,pairList,startState) %}
    {% if startState == "in" %}
        {% set cycle1 = 'In' %}
        {% set cycle2 = 'Out' %}
    {% else %}
        {% set cycle1 = 'Out' %}
        {% set cycle2 = 'In' %}
    {% endif %}
    <table class="punch-list">
    {% for p in pairList %}
        <tr>
            <td>{{ p.date }}</td>
            {% if p.p1 != None %}
                <td>{{ p.p1.state }}</td><td>{{ p.p1.time }}</td>
            {% else %}
                <td></td><td></td>
            {% endif %}
            {% if p.p2 != None %}
                <td>{{ p.p2.state }}</td><td>{{ p.p2.time }}</td>
            {% else %}
                <td></td><td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endmacro %}