{% import "util/form_macros.html" as formMacros %}
{% import "util/general_macros.html" as util %}
{% macro displayNumPad(inputName="numpad-value") %}
    <div id="numpad">
        <table><tr><td id="numpad-display"></td></tr></table>
        <table>
            <tr>
                <td class="numpad-key">1</td>
                <td class="numpad-key">2</td>
                <td class="numpad-key">3</td>
            </tr>
            <tr>
                <td class="numpad-key">4</td>
                <td class="numpad-key">5</td>
                <td class="numpad-key">6</td>
            </tr>
            <tr>
                <td class="numpad-key">7</td>
                <td class="numpad-key">8</td>
                <td class="numpad-key">9</td>
            </tr>
            <tr>
                <td class="numpad-key">0</td>
                <td class="numpad-clear">Clear</td>
                <td class="numpad-enter">Enter</td>
            </tr>
        </table>
        {{ formMacros.input(inputName,id="numpad-value",type="hidden")}}
    </div>
{% endmacro %}
{% macro displayPunchClock() %}
    <div class="punch-clock">
        <div class="clock big-clock">00:00:00</div>
        <form id="punch-clock-form" class="mx" action="/api/punchclock" method="POST">
            {{ displayNumPad(inputName="employeeid") }}
            {{ formMacros.input("employeeid",id="pc-employeeid",type="hidden")}}
            {{ formMacros.input("pin",id="pc-pin",type="hidden")}}
        </form>
    </div>
{% endmacro %}
{% macro getHours(punchPair) %}
    {% if punchPair.p1 != None and punchPair.p2 != None %}
        {% if punchPair.p1.hours > punchPair.p2.hours %}{{ punchPair.p1.hours }}{% else %}{{ punchPair.p2.hours }}{% endif %}
    {% elif punchPair.p1 != None %}
        {{ punchPair.p1.hours }}
    {% elif punchPair.p2 != None %}
        {{ punchPair.p2.hours }}
    {% endif %}
{% endmacro %}
{% macro displayEmployeePunches(startDate,endDate,employeeid,pairList) %}
    {% call util.section("Punch List") %}
        {{ formMacros.input("employeeId",id="punchlistEmployeeId",type="hidden",value=employeeid) }}
        <table>
            {{ formMacros.input("startDate",id="punchlistStartdate",type="date",label="Start
            Date:",table=True,value=startDate) }}
            {{ formMacros.input("endDate",id="punchlistEnddate",type="date",label="End Date:",table=True,value=endDate)
            }}
        </table>
        <br>
        <table class="punch-list">
            <tr>
                <th>Date</th>
                <th>In/Out</th>
                <th>Time</th>
                <th>In/Out</th>
                <th>Time</th>
                <th>Hours</th>
            </tr>
            {% for p in pairList %}
            <tr class="{{ loop.cycle('r1','r2') }}">
                <td class="punch-list-date">{{ p.date.strftime("%m-%d") }}</td>
                <td class="punch-list-state">{% if p.p1 != None %}{{ p.p1.state|upper }}{% endif %}</td>
                <td class="punch-list-time" data-eid="{{ employeeid }}" data-date="{{ p.date }}"
                    data-pid="{% if p.p1 != None %}{{ p.p1.id }}{% else %}new{% endif %}">{% if p.p1 != None %}{{
                    p.p1.datetime.strftime('%H:%M') }}{% endif %}</td>
                <td class="punch-list-state">{% if p.p2 != None %}{{ p.p2.state|upper }}{% endif %}</td>
                <td class="punch-list-time" data-eid="{{ employeeid }}" data-date="{{ p.date }}"
                    data-pid="{% if p.p2 != None %}{{ p.p2.id }}{% else %}new{% endif %}">{% if p.p2 != None %}{{
                    p.p2.datetime.strftime('%H:%M') }}{% endif %}</td>
                <td class="punch-list-hours">{{ getHours(p) }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endcall %}
{% endmacro %}
{% macro displayNewPunchForm() %}
    {% call util.section("New Punch") %}
    <form id="newPunch" action="/api/punch/new" method="POST">
        <table>
            {{ formMacros.input("employeeid",label="Employee ID:",table=True,autofocus=True) }}
            {{ formMacros.input("date",label="Date:",table=True) }}
            {{ formMacros.input("time",label="Time",table=True) }}
        </table>
        {{ formMacros.input("Submit",value="submit",type="Submit") }}
    </form>
    {% endcall %}
{% endmacro %}