{% import "macros/form.html" as formMacros %}
{% macro displayLogin() %}
<form id="login" action="/api/login" method="POST">
    <table>
        {{ formMacros.input(name="username",label="Username:",type="text",table=True) }}
        {{ formMacros.input(name="password",label="Password:",type="password",table=True) }}
    </table>
    {{ formMacros.input(name="submit",value="Login",type="submit") }}
</form>
{% endmacro %}
{% macro displaySetPassword(user) %}
<form action="/api/setpassword" method="POST">
    <table>
        {% if user == "None" %}
            {{ formMacros.input(name="username",label="Username:",table=True) }}
        {% else %}
            {{ formMacros.input(name="username",value=user.username,type="hidden",table=True) }}
        {% endif %}
        {{ formMacros.input(name="currentPassword",label="Current Password:",type="password",table=True) }}
        {{ formMacros.input(name="password",label="New Password:",type="password",table=True) }}
    </table>
    {{ formMacros.input(name="submit",value="Submit",type="submit") }}
</form>
{% endmacro %}