{% import "util/form_macros.html" as formMacros %}
{% import "util/pagination_macros.html" as paginationMacros %}
{% import "util/general_macros.html" as util %}
{% macro displayEmployee(employee) %}
    {% call util.section("Employee Information") %}
    <div>
        <h2>{{ employee.lname }}, {{ employee.fname }}</h2>
    </div>
    {% endcall %}
{% endmacro %}
{% macro displayEmployeeList(employees,pg,pgSize,displayCount,totalEmployees) %}
    {% call util.section("Employee List") %}
    <div class="employee-list">
        {% for employee in employees %}
            <div class="{{ loop.cycle('r1','r2') }} list-item"><a href="/employee/{{ employee.id }}">{{ employee.lname }}, {{ employee.fname }}</a></div>
        {% endfor %}
        <div class="flex-row list-footer">
            Page 
            {{ paginationMacros.paginate(url="/employee/list",pgLeftRight=2,pg=pg,pgSize=pgSize,totalItems=totalEmployees) }}
            <div style="width: 25px;"></div>
            <div class="ml">Displaying {{ displayCount }} of {{ totalEmployees }}</div>
        </div>
    </div>
    {% endcall %}
{% endmacro %}
{% macro displayNewEmployee() %}
    {% call util.section("New Employee") %}
    <form method="POST" action="/api/employee/new">
        <table>
            {{ formMacros.input("username",label="Username:",table=True,autofocus=True) }}
            {{ formMacros.input("password",label="Password:",type="password",table=True) }}
            {{ formMacros.input("fname",label="First Name:",table=True)}}
            {{ formMacros.input("lname",label="Last Name:",table=True)}}
            {{ formMacros.input("admin",type="checkbox",label="Admin:",value="True",table=True)}}
        </table>
        {{ formMacros.input("submit",type="submit",value="Submit") }}
    </form>
    {% endcall %}
{% endmacro %}
{% macro displayNewEmployeeSuccess(employee) %}
    <h2>
        Successfuly created new employee: <a href="/employee/{{ employee.id }}">{{ employee.lname }}, {{ employee.fname }}</a>
    </h2>
{% endmacro %}