@import "quickaccess.css";

:root {
    --body-bg-color: #ffffff;
    --navbar-bg-color: #0003cc;
    --navbar-font-color: #ffffff;
    --visited-color: black;
    --row1-bg-color: rgba(0,3,204,0.07);
    --row2-bg-color: rgba(204,102,0,0.07);
    --border-color: #aaaaaa;
    --success-color: #99ffb1;
    --error-color: #ffb8b8;
    --warning-color: #f3ffb8;
    --section-header-bg-color: rgba(0,3,255,0.9);
    --section-header-text-color: white;
    --section-body-bg-color: white;
    --section-body-text-color: black;
}
/* Message Colors */
.success {
    background-color: var(--success-color) !important;
}
.warning {
    background-color: var(--warning-color) !important;
}
.error {
    background-color: var(--error-color) !important;
}
.normal {
    background-color: #c4e2ff;
}
/* End Message Colors */

.r1 {
    background-color: var(--row1-bg-color);
}

.r2 {
    background-color: var(--row2-bg-color);
}

html {
    box-sizing: border-box;
    background-color: var(--body-bg-color);
}

* {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.footer {
    margin-top: 2em;
    min-height: 2em;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-backdrop {
    background-color: var(--navbar-bg-color);
}

@media (max-width: 800px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .navbar {
        flex-direction: column;
    }

    .collapse {
        display: flex;
        flex-direction: column;
    }

    .collapse-toggle {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='32px' id='Layer_1' style='enable-background:new 0 0 32 32;' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2 S29.104,22,28,22z'/%3E%3C/svg%3E");
        width: 2em;
        height: 2em;
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .big-clock {
        font-size: 2em;
    }
    .punch-clock td {
        font-size: 2em;
    }
    td.numpad-clear, td.numpad-enter {
        font-size: 1.2em;
    }
}

@media (min-width: 800px) {
    .container {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .collapse {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .collapse-toggle {
        display: none;
    }

    .big-clock {
        font-size: 4em;
    }
    .punch-clock td {
        font-size: 4em;
    }
    td.numpad-clear, td.numpad-enter {
        font-size: 3em;
    }
}

#content {
    display: flex;
    justify-content: center;
}

.collapse {
    opacity: 1;
}

.collapsing {
    overflow: hidden;
}

.hide {
    height: 0px !important;
    opacity: 0;
}


.navbar {
    display: flex;
    color: var(--navbar-font-color);
}
.navbar * {
    color: inherit;
}

.nav-brand {
    width: max-content;
    margin-right: 10px;
    text-decoration: none;
    font-size: 2em;
}

.dropdown, .nav-item { 
    margin-right: 10px;
}
.dropdown-toggle, .nav-item {
    position: relative;
    font-size: 1.2em;
    padding: 0.2em;
    text-decoration: none;
    width: max-content;
    display: inline-block;
}

.nav-item:hover, .dropdown-toggle:hover {
    outline: 1px solid;
    border-radius: 0.2em;
}

.page-link {
    margin-left: 0.2em;
}

.page-active {
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: bold;
}

.employee-list {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border-color: var(--border-color);
}

.list-item {
    padding: 0.3em;
}

.list-footer {
    margin-top: 0.4em;
    padding: 0.2em;
}

td.label {
    text-align: right;
}

label {
    display: inline-block;
    width: max-content;
}

td.input {
    text-align: left;
}

td.input input {
    margin-left: 0px;
}

form input[type="submit"] {
    display: block;
    margin-left: auto;
}

.punch-clock {
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3em solid #444444;
    border-radius: 1em;
    box-shadow: 0 0.3em 1em 0;
    padding: 1em;
}
.punch-clock table {
    width: 100%;
}
.punch-clock td {
    border: 3px solid;
    border-style: outset;
}
.numpad-key, .numpad-clear, .numpad-enter {
    user-select: none;
    cursor: pointer;
    width: 2em;
}
.punch-result {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    width: 300px;
    height: 150px;
    background-color: #eeeeee;
}
.punch-list {
    text-align: center;
    border-collapse: collapse;
}
.punch-list td {
    min-width: 3em;
}
.punch-list td input {
    width: 3em;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}
.punch-list tr, .punch-list td, .punch-list th {
    border: 1px solid #777777;
    padding: 0.3em;
}
.punch-list input {
    width: 100%;
    text-align: center;
}
.modify-float * {
    display: inline-block;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.modify-float :last-child {
    margin-right: 1em;
}

.highlight-yellow {
    background-color: yellow;
}
#numpad-display {
    height: 1.5em;
}
.floating {
    position: absolute;
    background-color: var(--body-bg-color);
    color: black;
    z-index: 9999;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}
#menu {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-left: 1px solid black;
}
.menu-item {
    margin-top: 10px;
}
.border {
    border: 1px solid;
    border-color: var(--border-color);
}
/* MODAL */
.modal-bg {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
}
.modal {
    position: fixed;
    top: 25%;
    left:50%;
    transform: translateX(-50%);
    min-width: 300px;
    border: 1px solid #777777;
    border-radius: 0.5em;
    background-color: #eeeeee;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.5);
}
.modal-title {
    border-bottom: 1px solid #777777;
    border-radius: 0.5em 0.5em 0 0;
}
.modal-body {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer {
    border-radius: 0 0 0.5em 0.5em;
    display: flex;
    justify-content: right;
}
.modal-title, .modal-body, .modal-footer {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
/* END MODAL */

/* SECTION */
.section {
    width: max-content;
}
.section-header, .section-content {
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.section-header {
    background-color: var(--section-header-bg-color);
    color: var(--section-header-text-color);
    border-top: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.section-content {
    display: flex;
    background-color: var(--section-content-bg-color);
    color: var(--section-content-text-color);
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* END SECTION */
