.centered,.message {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
#navbar a {
    margin-left: 10px;
    margin-right: 10px;
}
label {
    display: inline-block;
    min-width: 100px;
    text-align: right;
}
#submit {
    margin-right: 0px;
    margin-left: auto;
    display: block;
}
#employeelist {
}
.employeelistitem {
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.r1 {
    background-color:lavender;
}
.r2 {
    background-color:beige;
}