:root {
    --body-bg-color: #f0f0f0;
    --navbar-bg-color: #d0d0d0;
    --visited-color: black;
    --row1-bg-color: #c4e2ff;
    --row2-bg-color: #ddf0ff;
    --border-color: #aaaaaa;
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    background-color: var(--body-bg-color);
    position: relative;
    margin: 0px;
    padding: 0px;
}
.nav-backdrop {
    background-color: var(--navbar-bg-color);
}
@media (min-width: 300px) {
    .container {
        margin-left: 10px;
        margin-right: 0px;
    }
}
@media (min-width: 700px) {
    .container {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar :any-link {
    color: var(--visited-color);
}
.nav-brand {
    margin-right: 10px;
    text-decoration: none;
    font-size: 2em;
}
.nav-item {
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.2em;
}
.nav-item:hover {
    outline: 1px solid;
    border-radius: 0.2em;
}
.page-link {
    margin-left: 0.2em;
}
.page-active {
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: bold;
}
.employee-list {
    width: max-content;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    border-color: var(--border-color);
}
.list-item {
    padding: 0.3em;
}
.list-footer {
    padding: 0.2em;
    border-top: 1px solid;
    border-color: inherit;
}
.r1 {
    background-color: var(--row1-bg-color);
}
.r2 {
    background-color: var(--row2-bg-color);
}
form {
    width: max-content;
    padding: 1em;
    border: 1px solid;
    border-color: var(--border-color);
}
td.label {
    text-align: right;
}
td.input {
    text-align: left;
}
td.input input {
    margin-left: 0px;
}
form input[type="submit"] {
    display: block;
    margin-left: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.mr {
    margin-right: auto;
}
.ml {
    margin-left: auto;
}
.mx {
    margin-left: auto;
    margin-right: auto;
}