{% import "macros/navbar.html" as navbarMacros %}
{% if user is undefined %}
  {% set user = None %}
{% endif %}
<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - TimeClock</title>
  <link rel="stylesheet" href="/static/timeclock.css">
  {% endblock %}
</head>

<body>
  <div class="nav-backdrop">
    <div class="container">
      <div class="navbar">
        <a class="nav-brand" href="/">TimeClock</a>
        <div class="collapse" transition="t-fade-resize">
          {% block navbar scoped %}
            {{ navbarMacros.displayNavbar(user) }}
          {% endblock %}
        </div>
        <div class="collapse-toggle"></div>
      </div>
    </div>
  </div>
  <div id="content" class="container">
  {% block content %}{% endblock %}
  </div>
  <div class="footer">
  </div>
  <script src="/static/newtimeclock.js"></script>
  <script src="/static/timeclock.js"></script>
</body>

</html>