<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - TimeClock</title>
  <link rel="stylesheet" href="/static/timeclock.css">
  {% endblock %}
</head>

<body>
  <div class="nav-backdrop">
    <div class="container">
      <div class="navbar">
        <a class="nav-brand" href="/">TimeClock</a>
        <a class="nav-item" href="/employee/new">New Employee</a>
        <a class="nav-item" href="/employee/list">List Employees</a>
        <a class="nav-item" href="/test">Test</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  {% block content %}{% endblock %}
</body>

</html>