{% import "form_macros.html" as formMacros %}
{% macro displayEmployee(employee) %}
    <div>
        <h2>{{ employee.lname }}, {{ employee.fname }}</h2>
    </div>
{% endmacro %}
{% macro displayEmployeeList(employees,pg,pgSize,displayCount,totalEmployees) %}
    {% set pgLeftRight = 3 %}
    {% set pgStart = ((pg - pgLeftRight) | floor(1)) %}
    {% set lastPg = ((totalEmployees/pgSize)|round(method="ceil")) | int %}
    {% set pgEnd = (pg + pgLeftRight) | ceil(lastPg) %}
    <h2>Employees</h2>
    <div class="employee-list">
        {% for employee in employees %}
            <div class="{{ loop.cycle('r1','r2') }} employee-list-item"><a href="/employee/{{ employee.id }}">{{ employee.lname }}, {{ employee.fname }}</a></div>
        {% endfor %}
        <div class="flex-row employee-list-footer">
            Page 
            {% if (pg - pgLeftRight > 1) %}<a href="/employee/list?pg=1&pgSize={{pgSize}}" class="page-link"><<</a>{% endif %}
            {% for num in range(pgStart,pgEnd+1) %}
                {% if pg != num %}<a href="/employee/list?pg={{num}}&pgSize={{pgSize}}">{% endif %}
                <span class="page-link {% if pg == num %}page-active{% endif %}">{{num}}</span>
                {% if pg != num %}</a>{% endif %}
            {% endfor %}
            {% if lastPg - pg > pgLeftRight %}<a href="/employee/list?pg={{lastPg}}&pgSize={{pgSize}}" class="page-link">>></a>{% endif %}
            <div style="width: 25px;"></div>
            <div class="ml">Displaying {{ displayCount }} of {{ totalEmployees }}</div>
        </div>
    </div>
{% endmacro %}
{% macro displayNewEmployee() %}
    <h2>New Employee</h2>
    <div>
        <form method="POST" action="/employee/new">
            {{ formMacros.input("fname",label="First Name:")}}
            {{ formMacros.input("lname",label="Last Name:")}}
            {{ formMacros.input("admin",type="checkbox",label="Admin:",value="True")}}
            {{ formMacros.input("submit",type="submit",value="Submit") }}
        </form>
    </div>
{% endmacro %}
{% macro displayNewEmployeeSuccess(employee) %}
    <h2>
        Successfuly created new employee: <a href="/employee/{{ employee.id }}">{{ employee.lname }}, {{ employee.fname }}</a>
    </h2>
{% endmacro %}