{% import "form_macros.html" as formMacros %}
{% macro displayEmployee(employee) %}
    <div>
        <h2>{{ employee.lname }}, {{ employee.fname }}</h2>
    </div>
{% endmacro %}
{% macro displayEmployeeList(employees,pg,pgSize,displayCount,totalEmployees) %}
    {% set pgStart = ((pg - 5) | floor(1)) %}
    {% set pgEnd = (pgStart + 5) | ceil(((totalEmployees/pgSize)|round(method="ceil")) | int) %}
    <h2>Employees</h2>
    <div class="employee-list">
        {% for employee in employees %}
            <div class="{{ loop.cycle('r1','r2') }} employee-list-item"><a href="/employee/{{ employee.id }}">{{ employee.lname }}, {{ employee.fname }}</a></div>
        {% endfor %}
        <div class="flex-row employee-list-footer">Page {% for num in range(pgStart,pgEnd+1) %}{% if pg != num %}<a href="/employee/list?pg={{num}}&pgSize={{pgSize}}">{% endif %}<span class="page-link">{{num}}</span>{% if pg != num %}</a>{% endif %}{% endfor %}<div style="width: 25px;"></div><div class="ml">Displaying {{ displayCount }} of {{ totalEmployees }}</div></div>
    </div>
{% endmacro %}
{% macro displayNewEmployee() %}
    <h2>New Employee</h2>
    <div>
        <form method="POST" action="/employee/new">
            {{ formMacros.input("fname",label="First Name:")}}
            {{ formMacros.input("lname",label="Last Name:")}}
            {{ formMacros.input("admin",type="checkbox",label="Admin:",value="True")}}
            {{ formMacros.input("submit",type="submit",value="Submit") }}
        </form>
    </div>
{% endmacro %}
{% macro displayNewEmployeeSuccess(employee) %}
    <div>
        Successfuly created new employee: <a href="/employee/{{ employee.id }}">{{ employee.lname }}, {{ employee.fname }}</a>
    </div>
{% endmacro %}