{% import "user/user_macros.html" as userMacros %}
{% macro displayNavbar(user=None) %}
    {% if user == None %}
        <div class="p-r">
            <a class="nav-item" href="#login">Login</a>
            <div id="login" class="floating d-none p10">
                {{ userMacros.displayLogin() }}
            </div>
        </div>
    {% else %}
        {% if user.admin %}
        <div class="dropdown">
            <a class="dropdown-toggle" href="#dropdown-toggle">Employee</a>
            <div id="menu" class="floating flex-col d-none">
                <a class="menu-item" href="/employee/new">New Employee</a>
                <a class="menu-item" href="/employee/list">List Employees</a>
            </div>
        </div>
        <a class="nav-item" href="#reload">Reload</a>
        {% endif %}
        <a class="nav-item" href="#logout">Logout</a>
    {% endif %}
{% endmacro %}