{% macro displayNumPad() %}
    <div class="numpad">
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            <tr>
                <td>0</td>
                <td colspan="2" class="numpad-enter">Enter</td>
            </tr>
        </table>
    </div>
{% endmacro %}
{% macro displayTimeClock() %}
    <div class="timeclock">
        <div class="clock big-clock">00:00:00</div>
        {{ displayNumPad() }}
    </div>
{% endmacro %}