{% macro displayNumPad() %}
    <div class="numpad">
        <span class="numpad-display"></span>
        <table>
            <tr>
                <td class="numpad-key">1</td>
                <td class="numpad-key">2</td>
                <td class="numpad-key">3</td>
            </tr>
            <tr>
                <td class="numpad-key">4</td>
                <td class="numpad-key">5</td>
                <td class="numpad-key">6</td>
            </tr>
            <tr>
                <td class="numpad-key">7</td>
                <td class="numpad-key">8</td>
                <td class="numpad-key">9</td>
            </tr>
            <tr>
                <td class="numpad-key">0</td>
                <td class="numpad-clear">Clear</td>
                <td class="numpad-enter">Enter</td>
            </tr>
        </table>
        <input name="numpad-value" type="hidden">
    </div>
{% endmacro %}
{% macro displayTimeClock() %}
    <div class="timeclock">
        <div class="clock big-clock">00:00:00</div>
        {{ displayNumPad() }}
    </div>
{% endmacro %}